* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (max-width: 576px) {
  .body1 {
    display: none;
  }
}

.header {
  display: flex;
  margin: 30px;
  justify-content: space-between;
  margin-right: 100px;
  margin-left: 120px;
}
@media (max-width: 576px) {
  .header {
    display: none;
  }
}
.header .logo {
  font-family: "Taviraj", serif;
  font-size: 28px;
  line-height: 48px;
  font-style: normal;
  color: #80753D;
}
@media (max-width: 576px) {
  .header .logo {
    display: none;
  }
}
.header .header2 {
  display: flex;
  justify-content: space-between;
}
.header .header2 .logo2 {
  margin-right: 60px;
}
@media (max-width: 576px) {
  .header .header2 .logo2 {
    display: none;
  }
}
.header .header2 .header3 {
  display: flex;
  padding: 0px 0px 20px 20px;
}
@media (max-width: 576px) {
  .header .header2 .header3 {
    display: none;
  }
}
.header .header2 .header3 .logo3 {
  margin-right: 10px;
}
@media (max-width: 576px) {
  .header .header2 .header3 .logo3 {
    display: none;
  }
}
@media (max-width: 576px) {
  .header .header2 .header .logo {
    visibility: visible;
    position: absolute;
    width: 101px;
    height: 48px;
    left: 38px;
    top: 35px;
    font-size: 28px;
  }
}
.header .header4 {
  margin-left: 30px;
  background-size: cover;
  border-radius: 30px;
}
@media (max-width: 576px) {
  .header .header4 {
    margin-top: 10px;
  }
}

.card1 {
  display: flex;
  margin-left: 150px;
  margin-right: 150px;
  background-color: #96Dbdb;
}
@media (max-width: 576px) {
  .card1 {
    display: none;
  }
}
.card1 .text1 {
  position: absolute;
  width: 389px;
  left: 733px;
  top: 120px;
}
@media (max-width: 576px) {
  .card1 .text1 {
    display: none;
  }
}
.card1 .text1 .side1 {
  margin-top: 50px;
  margin-bottom: 100px;
  font-size: 48px;
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  color: #333333;
}
@media (max-width: 576px) {
  .card1 .text1 .side1 {
    display: none;
  }
}
.card1 .text1 .side2 {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: larger;
}
.card1 .text1 .side3 {
  background-color: #96Dbdb;
  border: 1px solid #333333;
}

.card2 {
  position: absolute;
  width: 171px;
  height: 0px;
  left: 165px;
  top: 892px;
}
@media (max-width: 576px) {
  .card2 {
    display: none;
  }
}

.text2 {
  position: absolute;
  width: 228px;
  height: 40px;
  left: 360px;
  top: 872px;
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  color: #333333;
}
@media (max-width: 576px) {
  .text2 {
    display: none;
  }
}

@media (max-width: 576px) {
  .card3 {
    display: none;
  }
}
.card3 .text3 .head {
  position: absolute;
  width: 290px;
  height: 40px;
  left: 191px;
  top: 1129px;
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
}
.card3 .text3 p {
  position: absolute;
  width: 350px;
  height: 90px;
  left: 165px;
  top: 1183px;
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.02em;
}
.card3 .text3 button {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-start;
  padding: 14px 47px;
  gap: 10px;
  position: absolute;
  width: 160px;
  height: 55px;
  left: 260px;
  top: 1296px;
  border: 1px solid #333333;
  background-color: rgba(233, 255, 255, 0.5490196078);
}
.card3 .image2 {
  position: absolute;
  width: 626px;
  height: 622.14px;
  left: 705px;
  top: 947px;
}

@media (max-width: 576px) {
  .type1 {
    display: none;
  }
}
.type1 h2 {
  position: absolute;
  width: 169px;
  height: 40px;
  left: 246px;
  top: 1715px;
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: 400;
  font-style: 30px;
  line-height: 40px;
  letter-spacing: 0.02rem;
}
.type1 p {
  position: absolute;
  width: 65px;
  height: 0px;
  left: 157px;
  top: 1735px;
}

.card4 {
  width: 540px;
  height: 270px;
  display: flex;
  margin-top: 1170px;
  justify-content: center;
  margin-left: 330px;
}
@media (max-width: 576px) {
  .card4 {
    display: none;
  }
}
.card4 .text6 {
  background-color: #96Dbdb;
  margin-right: 330px;
}
.card4 .text6 .textin1 h1 {
  margin-right: 400px;
  margin-left: 30px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  left: 582px;
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.03em;
}
.card4 .text6 .textin1 p {
  position: absolute;
  width: 253px;
  height: 50px;
  left: 182px;
  top: 1912px;
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.card4 .text6 .textin1 h3 {
  margin-top: 10px;
  position: absolute;
  width: 115px;
  height: 27px;
  left: 189px;
  top: 1959px;
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.03rem;
}
.card4 .text6 .textin1 h3 p {
  position: absolute;
  width: 101px;
  height: 0px;
  left: 0px;
  top: 10px;
  margin-top: 20px;
}
.card4 .text6 .textin1 button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 47px;
  gap: 10px;
  position: absolute;
  width: 183px;
  height: 57px;
  left: 190px;
  top: 2014px;
  background-color: #96Dbdb;
}
.card4 .text6 .textin2 {
  position: absolute;
  left: 473px;
  top: 1810px;
}
.card4 .card5 {
  display: flex;
  position: absolute;
  padding-right: 210px;
  margin-left: 30px;
  margin-top: 10px;
  width: 540px;
  height: 270px;
  left: 750px;
  top: 1800px;
  background-color: #96Dbdb;
}
@media (max-width: 576px) {
  .card4 .card5 {
    display: none;
  }
}
.card4 .card5 .text7 .big1 {
  margin-left: 50px;
  margin-top: 20px;
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.03em;
}
.card4 .card5 .text7 .big2 {
  font-family: "Taviraj", serif;
  position: absolute;
  top: 90px;
  text-align: center;
  margin-left: 30px;
  margin-right: 270px;
}
.card4 .card5 .text7 .big3 {
  margin-left: 40px;
  margin-top: 70px;
  margin-left: 50px;
}
.card4 .card5 .text7 .tag {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 47px;
  gap: 10px;
  position: absolute;
  width: 183px;
  height: 57px;
  left: 27px;
  top: 207px;
  background-color: #96Dbdb;
}
.card4 .card5 .textin3 {
  margin-left: 140px;
}

@media (max-width: 576px) {
  .type6 {
    display: none;
  }
}
.type6 h2 {
  position: absolute;
  width: 169px;
  height: 40px;
  left: 246px;
  top: 2175px;
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: 400;
  font-style: 30px;
  line-height: 40px;
  letter-spacing: 0.02rem;
}
.type6 p {
  position: absolute;
  width: 65px;
  height: 0px;
  left: 157px;
  top: 2195px;
}

.card12 {
  position: absolute;
  width: 1140px;
  height: 270px;
  left: 0px;
  top: 55px;
}
@media (max-width: 576px) {
  .card12 {
    display: none;
  }
}
.card12 .text8 {
  position: absolute;
  width: 1140px;
  height: 270px;
  left: 0px;
  top: 400px;
}
.card12 .text8 .pol {
  background-color: #96Dbdb;
  position: absolute;
  width: 540px;
  height: 270px;
  margin-left: 165px;
  left: 0px;
  top: 1810px;
}
.card12 .text8 .textin10 .space1 {
  position: absolute;
  width: 253px;
  height: 32px;
  left: 182px;
  top: 1827px;
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.03em;
  background-color: #96Dbdb;
}
.card12 .text8 .textin10 .space2 {
  position: absolute;
  width: 253px;
  height: 50px;
  left: 182px;
  top: 1912px;
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.card12 .text8 .textin10 .space3 {
  margin-top: 10px;
  position: absolute;
  width: 115px;
  height: 27px;
  left: 189px;
  top: 1959px;
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.03rem;
}
.card12 .text8 .textin10 .space3 p {
  position: absolute;
  width: 101px;
  height: 0px;
  left: 0px;
  top: 10px;
  margin-top: 20px;
}
.card12 .text8 .textin10 .space4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 47px;
  gap: 10px;
  position: absolute;
  width: 183px;
  height: 57px;
  left: 190px;
  top: 2014px;
  background-color: #96Dbdb;
}
.card12 .text8 .textin12 {
  position: absolute;
  left: 473px;
  top: 1810px;
}
.card12 .card7 {
  display: flex;
  position: absolute;
  padding-right: 20px;
  margin-left: 30px;
  margin-top: 10px;
  width: 540px;
  height: 270px;
  left: 750px;
  top: 2200px;
  background-color: #96Dbdb;
}
@media (max-width: 576px) {
  .card12 .card7 {
    display: none;
  }
}
.card12 .card7 .text9 .big4 {
  margin-left: 50px;
  margin-top: 10px;
  font-family: "Taviraj", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.03em;
}
.card12 .card7 .text9 .big5 {
  margin-top: 10px;
  font-family: "Taviraj", serif;
  position: absolute;
  top: 70px;
  align-items: center;
  margin-left: 30px;
  margin-right: 270px;
  font-style: normal;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.03rem;
}
.card12 .card7 .text9 .big6 {
  margin-left: 40px;
  margin-top: 90px;
  margin-left: 50px;
}
.card12 .card7 .text9 .tag2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 47px;
  gap: 10px;
  position: absolute;
  width: 183px;
  height: 57px;
  left: 20px;
  top: 207px;
  background-color: #96Dbdb;
}
.card12 .card7 .textin9 {
  margin-left: 140px;
}

.grid .our2 {
  position: absolute;
  width: 229px;
  left: 1027px;
  top: 2648px;
  height: 0px;
  font-family: "Taviraj";
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  font-style: normal;
}
.grid .our2 .our3 {
  position: absolute;
  width: 65px;
  left: -80px;
  top: 20px;
  height: 0px;
}
@media (max-width: 576px) {
  .grid .our2 {
    display: none;
  }
}
.grid .row1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 46px;
  position: absolute;
  width: 469px;
  height: 288px;
  left: 215px;
  top: 2765px;
  background-color: white;
  box-shadow: 0px 4px 14px rgb(213, 213, 0);
}
@media (max-width: 576px) {
  .grid .row1 {
    display: none;
  }
}
.grid .row1 h1 {
  position: absolute;
  width: 150px;
  height: 90px;
  left: 250px;
  top: 30.48px;
  font-family: "Taviraj";
  font-style: normal;
  font-weight: 500px;
  font-size: 20px;
  line-height: 32px;
  color: #333333;
}
.grid .row1 .low {
  position: absolute;
  width: 122px;
  height: 32px;
  left: 262px;
  top: 168.48px;
  font-family: "taviraj";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
}
.grid .row1 p {
  position: absolute;
  width: 55px;
  height: 24px;
  left: 262px;
  top: 96.48px;
  font-family: "taviraj";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
}
.grid .row1 button {
  position: absolute;
  box-sizing: border-box;
  height: 46.04px;
  left: 264px;
  top: 211.48px;
  border: 0.79375px solid #333333;
  padding: 10px 25px 10px 25px;
  background-color: #fff;
}
.grid .row0 {
  position: absolute;
  width: 315px;
  height: 775px;
  left: 0px;
  top: 2679px;
  background-color: #008080;
}
@media (max-width: 576px) {
  .grid .row0 {
    display: none;
  }
}

.row2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 46px;
  position: absolute;
  width: 469px;
  height: 288px;
  left: 757px;
  top: 2770px;
  background-color: white;
  box-shadow: 0px 4px 14px rgb(213, 213, 0);
}
@media (max-width: 576px) {
  .row2 {
    display: none;
  }
}
.row2 h1 {
  position: absolute;
  width: 150px;
  height: 90px;
  left: 250px;
  top: 30.48px;
  font-family: "Taviraj";
  font-style: normal;
  font-weight: 500px;
  font-size: 20px;
  line-height: 32px;
  color: #333333;
}
.row2 .low {
  position: absolute;
  width: 122px;
  height: 32px;
  left: 262px;
  top: 168.48px;
  font-family: "taviraj";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
}
.row2 p {
  position: absolute;
  width: 55px;
  height: 24px;
  left: 262px;
  top: 96.48px;
  font-family: "taviraj";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
}
.row2 button {
  position: absolute;
  box-sizing: border-box;
  height: 46.04px;
  left: 264px;
  top: 211.48px;
  border: 0.79375px solid #333333;
  padding: 10px 25px 10px 25px;
  background-color: #fff;
}

.row3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 46px;
  position: absolute;
  width: 469px;
  height: 288px;
  left: 215px;
  top: 3136px;
  background-color: white;
  box-shadow: 0px 4px 14px rgb(213, 213, 0);
}
@media (max-width: 576px) {
  .row3 {
    display: none;
  }
}
.row3 h1 {
  position: absolute;
  width: 150px;
  height: 90px;
  left: 250px;
  top: 30.48px;
  font-family: "Taviraj";
  font-style: normal;
  font-weight: 500px;
  font-size: 20px;
  line-height: 32px;
  color: #333333;
}
.row3 .low {
  position: absolute;
  width: 122px;
  height: 32px;
  left: 262px;
  top: 168.48px;
  font-family: "taviraj";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
}
.row3 p {
  position: absolute;
  width: 55px;
  height: 24px;
  left: 262px;
  top: 96.48px;
  font-family: "taviraj";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
}
.row3 button {
  position: absolute;
  box-sizing: border-box;
  height: 46.04px;
  left: 264px;
  top: 211.48px;
  border: 0.79375px solid #333333;
  padding: 10px 25px 10px 25px;
  background-color: #fff;
}

.row4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 46px;
  position: absolute;
  width: 469px;
  height: 288px;
  left: 757px;
  top: 3136px;
  background-color: white;
  box-shadow: 0px 4px 14px rgb(213, 213, 0);
}
@media (max-width: 576px) {
  .row4 {
    display: none;
  }
}
.row4 h1 {
  position: absolute;
  width: 150px;
  height: 90px;
  left: 250px;
  top: 30.48px;
  font-family: "Taviraj";
  font-style: normal;
  font-weight: 500px;
  font-size: 20px;
  line-height: 32px;
  color: #333333;
}
.row4 .low {
  position: absolute;
  width: 122px;
  height: 32px;
  left: 262px;
  top: 168.48px;
  font-family: "taviraj";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
}
.row4 p {
  position: absolute;
  width: 55px;
  height: 24px;
  left: 262px;
  top: 96.48px;
  font-family: "taviraj";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
}
.row4 button {
  position: absolute;
  box-sizing: border-box;
  height: 46.04px;
  left: 264px;
  top: 211.48px;
  border: 0.79375px solid #333333;
  padding: 10px 25px 10px 25px;
  background-color: #fff;
}

.row5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 46px;
  position: absolute;
  width: 469px;
  height: 288px;
  left: 215px;
  top: 3501px;
  background-color: white;
  box-shadow: 0px 4px 14px rgb(213, 213, 0);
}
@media (max-width: 576px) {
  .row5 {
    display: none;
  }
}
.row5 h1 {
  position: absolute;
  width: 150px;
  height: 90px;
  left: 250px;
  top: 30.48px;
  font-family: "Taviraj";
  font-style: normal;
  font-weight: 500px;
  font-size: 20px;
  line-height: 32px;
  color: #333333;
}
.row5 .low {
  position: absolute;
  width: 122px;
  height: 32px;
  left: 262px;
  top: 168.48px;
  font-family: "taviraj";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
}
.row5 p {
  position: absolute;
  width: 55px;
  height: 24px;
  left: 262px;
  top: 96.48px;
  font-family: "taviraj";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
}
.row5 button {
  position: absolute;
  box-sizing: border-box;
  height: 46.04px;
  left: 264px;
  top: 211.48px;
  border: 0.79375px solid #333333;
  padding: 10px 25px 10px 25px;
  background-color: #fff;
}

.row6 {
  position: absolute;
  width: 720px;
  height: 375px;
  left: 720px;
  top: 3457px;
  background-color: #96Dbdb;
  box-shadow: 0px 4px 14px rgb(213, 213, 0);
}
@media (max-width: 576px) {
  .row6 {
    display: none;
  }
}
.row6 .high {
  position: absolute;
  width: 469px;
  height: 288px;
  left: 50px;
  top: 40px;
}
.row6 .high h1 {
  position: absolute;
  width: 207px;
  height: 64px;
  left: 260px;
  top: 30px;
  font-family: "Taviraj";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #333333;
}
.row6 .high .low {
  position: absolute;
  width: 122px;
  height: 32px;
  left: 262px;
  top: 168.48px;
  font-family: "taviraj";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
}
.row6 .high p {
  position: absolute;
  width: 55px;
  height: 24px;
  left: 262px;
  top: 96.48px;
  font-family: "taviraj";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
}
.row6 .high button {
  position: absolute;
  box-sizing: border-box;
  height: 46.04px;
  left: 264px;
  top: 211.48px;
  border: 0.79375px solid #333333;
  padding: 10px 25px 10px 25px;
  background-color: black;
  color: #fff;
}

.ending3 {
  left: 0px;
  right: 0px;
  top: 0px;
  padding: 100px;
  margin-top: 1775px;
  background: #008080;
}
@media (max-width: 576px) {
  .ending3 {
    display: none;
  }
}
.ending3 .foot1 {
  position: absolute;
  top: 3900px;
  left: 100px;
  color: #fff;
}
.ending3 .foot2 {
  position: absolute;
  top: 4000px;
  left: 100px;
  color: #fff;
}
.ending3 .foot3 {
  position: absolute;
  top: 3900px;
  left: 400px;
  color: #fff;
}
.ending3 .foot4 {
  position: absolute;
  top: 4000px;
  left: 400px;
  color: white;
}
.ending3 .foot5 {
  position: absolute;
  top: 3900px;
  left: 900px;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  font-family: "Taviraj";
}
.ending3 .foot6 {
  position: absolute;
  top: 3950px;
  left: 1190px;
  font-size: 30px;
  text-decoration: none;
  border-bottom: 2px solid black;
  color: #000000;
  line-height: 35px;
  letter-spacing: -1.125px;
}

.body2 {
  background-color: #e1f4f4;
}
@media (min-width: 992px) {
  .body2 {
    display: none;
  }
}
@media (min-width: 768px) {
  .body2 {
    display: none;
  }
}
.body2 .inline {
  display: flex;
  justify-content: space-between;
  padding: 0 15%;
  height: 75px;
  line-height: 75px;
  background-color: #e1f4f4;
  box-shadow: 3px 3px 3px;
}
.body2 .navbar-brand {
  color: #ffffff;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
@media (max-width: 576px) {
  .body2 .navbar-brand {
    font-size: 25px;
    text-decoration: none;
    color: #80753D;
  }
}
.body2 .nav-list {
  display: grid;
}
.body2 .nav-list .nav-item {
  cursor: pointer;
  height: 100%;
  padding: 0 30px;
  transition: 0.8s;
}
.body2 .nav-list .nav-item :hover {
  color: #80753D;
}
.body2 .nav-list .nav-link {
  color: whitesmoke;
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 935px) {
  .body2 .inline {
    padding: 0 2rem;
  }
  .body2 .nav-item {
    padding: 0 20px;
  }
}

@media (max-width: 576px) {
  .nav-list {
    display: grid;
    width: 100%;
    position: absolute;
    background: #008080;
    width: 100%;
    top: 75px;
    left: 0;
    transform: translateY(-100%);
    z-index: -10;
    transition: 0.6s;
    list-style: none;
  }
  .nav-item {
    padding-left: 35px;
  }
  .navbar-toggler {
    display: grid !important;
  }
}
.navbar-toggler {
  display: none;
  height: 30px;
  margin: 18px -10px 0 0;
  cursor: pointer;
}

.navbar-toggler .bar {
  width: 30px;
  height: 3px;
  margin-bottom: 10px;
  background: black;
  border-radius: 10%;
  transition: 0.4s;
}

input {
  display: none;
}

input:checked ~ nav .nav-list {
  transform: translateY(0);
}

input:checked ~ nav .navbar-toggler {
  margin-top: 35px;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
}

input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
  display: none;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
  transform: rotate(-45deg);
}

@media (min-width: 992px) {
  body {
    display: none;
  }
}
@media (max-width: 935px) {
  .inline {
    padding: 0 2rem;
  }
}
.inline10 {
  position: absolute;
  width: 390px;
  height: 624px;
  left: 0px;
  top: 50px;
  background-color: #96Dbdb;
  z-index: -200;
}
.inline10 .here {
  position: absolute;
  width: 214px;
  height: 50px;
  left: 79px;
  top: 370px;
  text-align: center;
  font-family: "Taviraj";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 60px;
  letter-spacing: 0.02em;
}
.inline10 p {
  z-index: -200;
}
.inline10 .inline11 {
  position: absolute;
  width: 214px;
  height: 72px;
  top: 450px;
  left: 82px;
  text-align: center;
}
.inline10 button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 47px;
  gap: 10px;
  position: absolute;
  width: 195px;
  height: 54px;
  top: 540px;
  left: 96px;
  background-color: #96Dbdb;
}
.inline10 button a {
  font-family: "Taviraj";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.02em;
  text-align: center;
}
@media (min-width: 992px) {
  .inline10 {
    position: absolute;
    width: 100%;
    height: 624px;
    left: 100px;
    top: 50px;
    padding-left: 20px;
    background-color: #008080;
    z-index: -200;
  }
}
.inline10 .inline12 {
  position: absolute;
  width: 270px;
  left: 0px;
  height: 21px;
  top: 900px;
}
.inline10 .line {
  position: absolute;
  width: 87.32px;
  height: 60px;
  top: -170px;
  left: 180px;
  border-top: 1px solid black;
}
.inline10 .linerecent {
  position: absolute;
  width: 87.32px;
  height: 60px;
  top: -200px;
  left: 290px;
  font-size: 26px;
  font-weight: 600;
}

.mobile {
  position: absolute;
  left: 0px;
  top: 888px;
}

.h30 {
  position: absolute;
  width: 290px;
  top: 1508px;
  left: 60px;
  font-family: "taviraj";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

.p3 {
  position: absolute;
  width: 350px;
  height: 120px;
  top: 1562px;
  left: 18px;
  font-family: "taviraj";
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.02em;
}

.inbtn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 14px 47px;
  gap: 10px;
  position: absolute;
  width: 171px;
  height: 55px;
  top: 1697px;
  border: 1px solid black;
  left: 120px;
}
.inbtn .inbtn1 {
  width: 77px;
  height: 27px;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: #000000;
  flex: none;
  flex-grow: 0;
}

.bestseller .line2 {
  position: absolute;
  width: 87.32px;
  left: 140px;
  top: 1824px;
  border-top: 1px solid black;
}
.bestseller .bestext {
  position: absolute;
  width: 132px;
  top: 1800px;
  left: 246px;
  height: 26px;
  font-size: 24px;
  font-style: normal;
  font-family: "taviraj";
  line-height: 50px;
  letter-spacing: 0.02em;
  font-weight: 600;
}

.luxirous {
  position: absolute;
  width: 333px;
  height: 230px;
  top: 1887px;
  left: 57px;
  background-color: #96Dbdb;
}
.luxirous .lux1 {
  position: absolute;
  width: 175px;
  height: 24px;
  left: 29.31px;
  top: 11px;
  font-size: 18.044px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  font-style: normal;
}
.luxirous .lux2 {
  position: absolute;
  width: 190.22px;
  height: 37.59px;
  top: 51.3px;
  left: 29.31px;
  font-family: "taviraj";
  font-size: 16.0296px;
  line-height: 18px;
  font-weight: 700;
  font-style: normal;
  color: #777777;
}
.luxirous .lux3 {
  position: absolute;
  width: 86.46px;
  height: 20.3px;
  left: 29.31px;
  top: 110.99px;
}
.luxirous .lux4 {
  position: absolute;
  width: 137.59px;
  left: 29.31px;
  height: 42.86px;
  top: 174.09px;
  font-family: "taviraj";
  font-size: 12.096px;
  background-color: #96Dbdb;
}
.luxirous .image2 {
  position: absolute;
  left: 242px;
}

.latest {
  position: absolute;
  width: 16px;
  height: 21px;
  top: 2161px;
  left: 260px;
  font-size: 21px;
  font-style: normal;
  font-family: "taviraj";
  line-height: 20px;
  letter-spacing: 0.02em;
}

.luxirous2 {
  position: absolute;
  width: 339px;
  height: 249px;
  top: 2229px;
  left: 51px;
  background-color: #96Dbdb;
}
.luxirous2 .lux6 {
  position: absolute;
  width: 189px;
  height: 37.41px;
  left: 29.31px;
  top: 76.87px;
  font-family: "taviraj";
  font-size: 16.0296px;
  line-height: 18px;
  font-weight: 700;
  font-style: normal;
  color: #777777;
}
.luxirous2 .lux7 {
  position: absolute;
  width: 86.04px;
  height: 20.03px;
  top: 143.51px;
  left: 29.31px;
  font-family: "taviraj";
  font-size: 16.096px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.02em;
}
.luxirous2 .lux8 {
  position: absolute;
  width: 80.91px;
  height: 57.19px;
  top: 180.41px;
  left: 29.31px;
}
.luxirous2 .lux9 {
  position: absolute;
  width: 136.91px;
  left: 29.31px;
  height: 42.64px;
  top: 200px;
  background-color: #96Dbdb;
  font-family: "taviraj";
  font-size: 12.096px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.02em;
}

.ourproduct {
  position: absolute;
  width: 276px;
  left: 62px;
  height: 21px;
  top: 2524px;
}
.ourproduct .ourproduct2 {
  position: absolute;
  width: 117px;
  height: 21px;
  left: 172px;
  top: 3px;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  font-family: "taviraj";
  line-height: 20px;
  text-align: left;
}

.maple {
  position: absolute;
  width: 251px;
  height: 510.3px;
  top: 2610px;
  left: 62px;
  background-color: #ffffff;
  gap: 23px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
}
.maple .maple2 {
  width: 166px;
  height: 141.3px;
}
.maple .maple2 h3 {
  position: absolute;
  width: 165px;
  height: 26px;
  left: 17px;
  top: 270px;
  font-family: "taviraj";
  font-weight: 500;
  font-style: normal;
  font-size: 19px;
}
.maple .maple2 p {
  position: absolute;
  width: 43px;
  top: 330px;
  left: 17px;
  height: 19px;
  color: #777777;
}
.maple .maple2 h2 {
  position: absolute;
  width: 96px;
  height: 26px;
  top: 390px;
  left: 17px;
}
.maple .maple2 button {
  position: absolute;
  width: 100.13px;
  height: 36.3px;
  left: 16px;
  top: 459px;
  background-color: #ffffff;
  padding: 10px;
  gap: 23px;
}

.maple3 {
  position: absolute;
  width: 251px;
  height: 510.3px;
  top: 3178px;
  left: 62px;
  background-color: #ffffff;
  gap: 23px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
}
.maple3 .maple5 {
  width: 166px;
  height: 141.3px;
}
.maple3 .maple5 h3 {
  position: absolute;
  width: 165px;
  height: 26px;
  left: 17px;
  top: 270px;
  font-family: "taviraj";
  font-weight: 500;
  font-style: normal;
  font-size: 19px;
}
.maple3 .maple5 p {
  position: absolute;
  width: 43px;
  top: 330px;
  left: 17px;
  height: 19px;
  color: #777777;
}
.maple3 .maple5 h2 {
  position: absolute;
  width: 96px;
  height: 26px;
  top: 390px;
  left: 17px;
}
.maple3 .maple5 button {
  position: absolute;
  width: 100.13px;
  height: 36.3px;
  left: 16px;
  top: 459px;
  background-color: #ffffff;
  padding: 10px;
  gap: 23px;
}

.maple9 {
  position: absolute;
  width: 327px;
  height: 510.3px;
  top: 3750px;
  left: 62px;
  background-color: #96Dbdb;
  gap: 23px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  box-shadow: -5.00503px 5.00503px 25.0251px rgba(217, 63, 63, 0.3);
}
.maple9 .maple11 {
  width: 166px;
  height: 141.3px;
}
.maple9 .maple11 h3 {
  position: absolute;
  width: 165px;
  height: 26px;
  left: 17px;
  top: 270px;
  font-family: "taviraj";
  font-weight: 500;
  font-style: normal;
  font-size: 19px;
}
.maple9 .maple11 p {
  position: absolute;
  width: 43px;
  top: 330px;
  left: 17px;
  height: 19px;
  color: #777777;
}
.maple9 .maple11 h2 {
  position: absolute;
  width: 96px;
  height: 26px;
  top: 390px;
  left: 17px;
}
.maple9 .maple11 button {
  position: absolute;
  width: 100.13px;
  height: 36.3px;
  left: 16px;
  top: 459px;
  background-color: #000000;
  padding: 10px;
  gap: 23px;
  color: whitesmoke;
}

.ending {
  position: absolute;
  width: 390px;
  height: 640px;
  left: 0px;
  top: 4312px;
  background-color: #008080;
}
.ending .h31 {
  position: absolute;
  height: 100px;
  left: 30.6%;
  right: 30.6%;
  top: calc(20% - 50px + 7px);
  font-size: 19px;
  font-family: "taviraj";
  font-weight: 500;
  color: whitesmoke;
}
.ending .h32 {
  position: absolute;
  height: 100px;
  left: 30.6%;
  right: 30.6%;
  top: calc(20% - 50px + 80px);
  font-size: 19px;
  font-family: "taviraj";
  font-weight: 500;
  color: whitesmoke;
}
.ending .h33 {
  position: absolute;
  height: 100px;
  left: 30.6%;
  right: 30.6%;
  padding-left: 20px;
  top: calc(20% - 50px + 180px);
  font-size: 19px;
  font-family: "taviraj";
  font-weight: 500;
  color: whitesmoke;
}
.ending .h34 {
  position: absolute;
  height: 100px;
  left: 30.6%;
  right: 30.6%;
  padding-left: 20px;
  top: calc(20% - 50px + 230px);
  font-size: 19px;
  font-family: "taviraj";
  font-weight: 500;
  color: whitesmoke;
}
.ending .h35 {
  position: absolute;
  height: 102px;
  left: 10.8%;
  right: 8.27%;
  top: calc(50% - 51px + 140px);
  text-align: right;
  color: whitesmoke;
  font-family: "taviraj";
  font-style: normal;
  font-weight: 400;
  line-height: 51px;
  letter-spacing: -1.125px;
}
.ending .h36 {
  position: absolute;
  height: 41px;
  left: 49.73%;
  right: 9.87%;
  top: calc(50% - 61.5px + 279.5px);
  font-weight: 400;
  font-style: normal;
  line-height: 41px;
  font-family: "taviraj";
  letter-spacing: -1.125px;
}
.ending .h37 {
  position: absolute;
  height: 43px;
  left: 49.73px;
  right: 9.87px;
  top: calc(50% - 61.5px + 329.5px);
  border-top: 2px solid #000;
  margin-left: 150px;
  margin-right: 35px;
}/*# sourceMappingURL=style.css.map */